

<%= form_with(model: tarea) do |form| %>
  
  <form class="box">

  
  <div class="field">
    <%= form.label :task, style: "display: block" %>
    <div class="control">
      <input class="input" type="task" placeholder="Write a task">
      <%= form.text_field :descr  %>
    </div>
    
  </div>

<div>
    <%= form.label :completed, style: "display: block" %>
    <%= form.check_box :completed %>
  </div>

  <div>
    <button class="button is-primary">
      <%= form.submit %>
    </button>
  </div>
  </form>
<% end %>





