<section class="section">
 

<table class="table">
  <tbody>
    <% @tareas.each do |tarea| %>
    <tr>
      <% if tarea.completed %>
      <td><p class="completed"><%= tarea.descr %></p></td>
      <td>
      <center>
      <%=form_for(tarea) do |f| %>
        <%= f.text_field :descr, type: 'hidden'  %>
        <%= f.check_box :completed, :checked => false, :style => 'visibility: hidden'  %>
        <%= f.submit "✔︎", class: 'button is-light' %>
        <% end %>
        </center>
      </td>
 
      
      <% else %>
      <td><p><%= tarea.descr %></p></td>
      <td>
      <center>
      <%=form_for(tarea) do |f| %>
        <%= f.text_field :descr, type: 'hidden'  %>
        <%= f.check_box :completed, :checked => true, :style => 'visibility: hidden'  %>
        <%= f.submit "✔︎", class: 'button' %>
      <% end %>
      </center>
      </td>
      <% end %>
      
      <td>
        
          <%= link_to tarea do %>
          <i class="fa-solid fa-eye"></i>
          <%end%>
      </td>
      <td>
        
          <%= link_to edit_tarea_path(tarea) do %>
          <i class="fa-solid fa-pen"></i>
          <%end%>
      </td>
      <td>
      <%= link_to tarea, method: :delete, data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } do %>  
        <i class="fa-solid fa-trash-can"></i>
      <%end%>
      </td>
    </tr>
   
  <% end %>
  </tbody>
</table>

<div>
  <button class="button">
    <%= link_to "New task", new_tarea_path %>
  </button>
</div>

</section>