<section class="section">
<div class="box">
<%= render "tareas/form_index" %>
</div>

<div class="box">
<% if @tareas.any? %>
<table class="table">
  <tbody>
    <% @tareas.each do |tarea| %>
    <tr>
      <% if tarea.completed %>
      <td><p class="completed"><%= tarea.descr %></p></td>
      <td>
      <center>
      <%=form_for(tarea) do |f| %>
        <%= f.text_field :descr, type: 'hidden'  %>
        <%= f.check_box :completed, :checked => false, :style => 'visibility: hidden'  %>
        <%= f.submit "✔︎", class: 'button is-light' %>
        <% end %>
        </center>
      </td>
 
      
      <% else %>
      <td><p><%= tarea.descr %></p></td>
      <td>
      <center>
      <%=form_for(tarea) do |f| %>
        <%= f.text_field :descr, type: 'hidden'  %>
        <%= f.check_box :completed, :checked => true, :style => 'visibility: hidden'  %>
        <%= f.submit "✔︎", class: 'button' %>
      <% end %>
      </center>
      </td>
      <% end %>
      
      <td>
        
          <%= link_to tarea do %>
          <i class="fa-solid fa-eye"></i>
          <%end%>
      </td>
      <td>
        
          <%= link_to edit_tarea_path(tarea) do %>
          <i class="fa-solid fa-pen"></i>
          <%end%>
      </td>
      <td>
      <%= link_to tarea, method: :delete, data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } do %>  
        <i class="fa-solid fa-trash-can"></i>
      <%end%>
      </td>
    </tr>
   
  <% end %>
  </tbody>
</table>
<% else %>
<h1 class="title is-6">Not tasks added yet</h1>

<% end %>

</div>


</section>