<section class="section">
  <h1 class="title"> <%= @tarea.descr %> </h1>
    <table class="table">
      <tbody>
        <tr>
          <td><%= link_to "Edit this tarea", edit_tarea_path(@tarea) %> </td>
          <td><%= link_to "Back", :back %></td>
          <td><%= button_to "Destroy this tarea", @tarea, method: :delete  %>
          </td>
      </tr>
      <tr>
      <td><%= link_to edit_tarea_path(@tarea) do %>
            <i class="fa-solid fa-pen"></i>
          <% end %>
      </td>
      <td>
      <%= link_to root_path, method: :delete, data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } do %>  
        <i class="fa-solid fa-trash-can"></i>
      <% end %>
      </td>
      <td><%= link_to root_url do %>
        <i class="fa-solid fa-left"></i>
        <% end %>
        </td>
          </tr>


          
      </tbody>
    </table>
</section>


