<section class="section">
  <h1 class="title"> <%= @tarea.descr %> </h1>
  <h1 class="title is-6">Created at <%= @tarea.created_at %> </h1>
    <table class="table">
      <tbody>
        <tr>
        <td><%= link_to edit_tarea_path(@tarea) do %>
          <button class="button is-ghost">
          <i class="fa-solid fa-pen"></i>
          </button>
          <% end %>
        </td>
        <td><%= button_to @tarea, class: "button is-ghost", method: :delete do %>  
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
        </td>
          <td><%= link_to tareas_path  do %>
            <button class="button is-ghost">
            <i class="fa-solid fa-left"></i>
            Back
            <button class="button is-ghost">
            <% end %>
            </td>
          
      </tr>
  


          
      </tbody>
    </table>
</section>


